.hero-section {
    position: relative;
    height: 400px;
    background-color: #495E57;
    gap: 200px;
}

.hero-text {
    width: 450px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}

.hero-text>p:nth-child(1) {
    font-family: 'Markazi Text', serif;
    color: #F4CE14;
    font-size: 64pt;
    font-weight: 500;
}

.hero-text>p:nth-child(2) {
    font-family: 'Markazi Text', serif;
    color: white;
    font-size: 40pt;
    margin-top: -30px;
}

.hero-image {
    position: absolute;
    width: 340px;
    height: 430px;
    bottom: -50px;
    top: 40px;
    right: 200px;
    border-radius: 16px;
}